/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 992px;
    width: 90%;
    padding: 3rem 0rem;
}

.row {
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -0.8rem;
}

.col-lg-1 {
    width: calc(100% / 12 * 1);
}

.col-lg-2 {
    width: calc(100% / 12 * 2);
}

.col-lg-3 {
    width: calc(100% / 12 * 3);
}

.col-lg-4 {
    padding: 0.8rem;
    width: calc(100% / 12 * 4);
}

.col-lg-5 {
    width: calc(100% / 12 * 5);
}

.col-lg-6 {
    width: calc(100% / 12 * 6);
}

.col-lg-7 {
    width: calc(100% / 12 * 7);
}

.col-lg-8 {
    width: calc(100% / 12 * 8);
}

.col-lg-9 {
    width: calc(100% / 12 * 9);
}

.col-lg-10 {
    width: calc(100% / 12 * 10);
}

.col-lg-11 {
    width: calc(100% / 12 * 11);
}

.col-lg-12 {
    width: calc(100% / 12 * 12);
}

/* Generics */
body {
    background-image: url('../img/cork.png');
    background-repeat: repeat;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* Header */
.main-header {
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url('../img/wall.png');
    background-repeat: repeat-x;
    background-size: 400px;

    h1 {
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 700;
        font-size: 4.4rem;

        @media screen and (max-width: 380px) {
            font-size: 3.6rem;
        }
    }
}

/* Card */
.card {
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transition: scale 0.5s, transform 0.5s;

    .card-pin {
        scale: 0.8;
        position: absolute;
        margin-top: -25px;
    }

    #card-image {

        img {
            height: 280px;
            object-fit: cover;
        }
    }

    .card-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;

        .card-date {
            font-family: "Edu TAS Beginner", cursive;
        }

        .card-title {
            font-family: "Edu TAS Beginner", cursive;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

.card:hover {
    cursor: pointer;
    z-index: 500;
    transform: rotate(10deg) scale(107%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    div {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;

        .modal-image {
            background-color: white;

            img {
                width: auto;
                height: 500px;

                @media screen and (max-width: 992px) {
                    height: 400px;
                }

                @media screen and (max-width: 576px) {
                    height: 300px;
                }
            }
        }

        #closeIcon {
            top: 1.5rem;
            right: 2rem;
            font-size: 2.5rem;
            color: white;
        }

        #closeIcon:hover {
            cursor: pointer;
        }
    }
}

/* Responsive Rules */
@media screen and (max-width: 992px) {

    .container {
        max-width: 620px;
    }

    .col-md-1 {
        width: calc(100% / 12 * 1);
    }

    .col-md-2 {
        width: calc(100% / 12 * 2);
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .col-md-4 {
        padding: 0.8rem;
        width: calc(100% / 12 * 4);
    }

    .col-md-5 {
        width: calc(100% / 12 * 5);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-7 {
        width: calc(100% / 12 * 7);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .col-md-9 {
        width: calc(100% / 12 * 9);
    }

    .col-md-10 {
        width: calc(100% / 12 * 10);
    }

    .col-md-11 {
        width: calc(100% / 12 * 11);
    }

    .col-md-12 {
        width: calc(100% / 12 * 12);
    }
}

@media screen and (max-width: 576px) {

    .container {
        max-width: 300px;
    }

    .col-sm-1 {
        width: calc(100% / 12 * 1);
    }

    .col-sm-2 {
        width: calc(100% / 12 * 2);
    }

    .col-sm-3 {
        width: calc(100% / 12 * 3);
    }

    .col-sm-4 {
        padding: 0.8rem;
        width: calc(100% / 12 * 4);
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5);
    }

    .col-sm-6 {
        width: calc(100% / 12 * 6);
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7);
    }

    .col-sm-8 {
        width: calc(100% / 12 * 8);
    }

    .col-sm-9 {
        width: calc(100% / 12 * 9);
    }

    .col-sm-10 {
        width: calc(100% / 12 * 10);
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11);
    }

    .col-sm-12 {
        width: calc(100% / 12 * 12);
    }
}